body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,div,input{margin:0;padding:0;border:0;}
header, section, footer, aside, nav, article, figure, dialog, menu {display: block;}
body{font-family:"微软雅黑","Helvetica";background: #FFF;}
li{list-style-type:none;}
a img{border: 0}
a{text-decoration: none;}
a:hover{text-decoration: none;}
h1,h2,h3,h4{font-family: "微软雅黑";}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clear{clear: both;}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
.cl{font-size: 14px;font-family:"微软雅黑";}
.micro{width: 90%;margin: 0px auto;padding-top: 20px;padding-bottom: 5px;}
.user-hd img{border-radius: 30px;}
.portrait{float: left;}
.user-txt{overflow: hidden;padding-top: 2px;padding-left: 12px;}
.user-txt a{color: #2C83E4;}
.user-txt div{float: right;}
.user-txt div img{width: 15px;margin-right: 2px;float: left;margin-top: 3px;}
.user-txt div span{color: #B8B9BB;font-size: 13px;vertical-align: middle;font-family: "Helvetica";}
.micro-text{margin: 20px 0px 10px 0px;color: #444444;font-size: 16px;}
.main{display: block;word-break: break-all; word-wrap: break-word;margin-top: 10px;color:#454545;font-size: 16px;}
.main img{max-width: 100%;height: auto;}
.bottom{border-top: 1px solid #eee;border-bottom: 1px solid #eee;}
.heart img{width: 120px;display: block;margin: 0px auto;}
.report{float: right;color: #B1B1B1 !important;font-size:16px !important;}
.item-view{padding-left:5%;}
.hd{margin-left: 15px;padding: 10px 0px 8px 0px;border-top: 0px;border-top: 0px;}
.user-hd1{float: left;margin-right: 6px;margin-top: 12px;}
.talk{margin: 0px auto;padding-bottom: 20px;}
.user-txt-name{color: #2C83E4;}
.reply-box{float: right;padding-right: 6%;}
.desc{margin-top: 4px;color: #464646;padding-right: 5%;}
.reply-box-btn{font-size: 13px;color: #b1b1b1;font-family: "Helvetica";}
.moreimg{overflow: hidden;}
.moreimg li{margin-top: 4px;}
.spacing{margin-left: 3px;margin-right: 3px;}
.first{border-top: none !important;}
.user-hd img {width: 44px;height: 44px; border-radius: 100%;margin-top: 3px;}
.dh-option-table{table-layout: auto;width: 100%;border-collapse:collapse;margin:10px 2px;}
.dh-option-table thead{background-color: #F0F0F0;font-weight: bold;line-height: 28px;font-size: 14px}
.dh-option-table td{border:1px solid #eee;border-collapse:collapse;table-layout:fixed;padding: 5px}
.dh-option-table .option-label{width: 80px}
.bottom{border-top: 1px solid #eee;border-bottom: 1px solid #eee;padding-bottom: 8px;margin-top: 12px;}
.praise{color: #3183D7;margin-left: 8px;font-size: 14px;font-family: "Helvetica";}
.point img{width: 13px;margin-top: 13px;}
.point{  display: block;word-break: break-all; word-wrap: break-word;width: 90%;margin: 0px auto;overflow: hidden;}
.heart{width: 90%;margin: 0px auto;padding-top: 25px;padding-bottom: 37px;overflow: hidden;}
.bbs-feed-list .desc{ font-size: 16px; line-height: 1.6; padding-left: 20px;}
.likea{float: left;margin-left: 5%;}
.sharea{float: right;margin-right: 5%;}
/*#report-btn{display: inline-block;background-color: #FF9900 ;padding: 1px;color: #fff;margin-right:2px;}*/
#report-btn {display: inline-block;padding: 1px;color: #fff;font-size: 16px;padding: 0px 6px;color: #4a4a4a;margin-top: 20px;margin-bottom: 5px;}
.html-data img { height: auto; }
.bbs-feed-count a.replypost { color: #ff6600; }
.videoCon { width: 240px; height: 136px; margin: 10px auto; }
.quote { background-color: #f7f7f7; padding: 5px;font-size: 12px; margin-bottom: 5px; color: #666666; }
.quote blockquote { margin: 5px 15px; }
.dline{float: left !important;}
.flow{line-height: 21px;}
.user-txt-name1{font-size: 16px;}
.dline p{color: #7b7b7b;margin-top: 2px;font-size: 13px;font-family: "Helvetica";}
.rightflow{margin-top: 8px;}
.rightflow1{margin-left: 15px;}
.rightflow1 img{width: 12px !important;margin-top: 5px !important;}
.commm{font-family: "Helvetica";color: #454545;font-size:16px;}
.share-size{font-size: 16px;color: #4a90e2;}
.biu-share{padding: 0px 10px;}